/* NAVBAR */
.navbar {
    padding: 2rem;
    background-color: #c5dffa31 !important;
    
    
    
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;

}
.img-nav{
    border: solid 1px;
    border-radius: 50%;
}
.nav-link{
    color: white !important;
    font-size: large;
}
.navbar ul{
    font-size: 32px;
}
/* SERVICIOS */
.hardware{
    margin-top: 15rem !important;
}
.container{
    margin-top: 40px;
    margin-bottom: 40px;
}
.servicios{
    margin-top: 6rem;
    color: white !important;
    margin-bottom: 14rem;
}
.servicios .columna{
    background-color: rgba(245, 245, 245, 0.062);
}
.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;

}

.experiencia i {
    font-size: 2.5rem;
    padding: 8px 19px;
    border-radius: 50%;
    
}

.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
}

.badge-contenedor {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/* ABOUT  */

.about{
    color: white !important;
    margin-inline: 23rem;
    min-height: 700px;
    margin-bottom: 10rem;
}
.about h1{
    color: rgb(65, 144, 247);
}
.about h3{
    color: rgb(65, 144, 247);
}
.about span{
    font-size: 24px;
}
.card {
    background-color: transparent !important;
    min-width: 250px;
    min-height: 250px;
    margin-inline: 3rem;
    border: none;
    color: white;
    transition: box-shadow 0.3s, transform 0.3s;
}
.card:hover{
    background-color: rgba(27, 27, 50, 0.568) !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    
    
}
.about .row {
    margin-top: 5rem;
    margin-inline: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* HERO  */
.hero {
    margin-top: 6rem;
    color: white !important;
    margin-bottom: 14rem;
}
.img-hero {
    opacity: 0.8;
    border-radius: 80%;
    margin-bottom: 40px;
}
.hero-texto{
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.hero-texto span {
    font-family: monospace;
    background-color: black;
    display: inline-block;
    white-space: nowrap; /* Para evitar saltos de línea */
    overflow: hidden;
    animation: typing 4s steps(40, end);
}
.hero h3{
    text-align: center !important;
    margin-inline: auto !important;
    
}


@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

.seccion-oscura{
    color: white;
    background-color: #1b1b32;
    opacity: 0.8;
}


/* CONTACTO */
.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacto .container {
    max-width: 1300px;
    min-height: 200px;
    padding: 20px;

}

.contacto .rectangulo{
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;

}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{
    color: white;
    font-size: 1.2rem;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    background-color: white;
    color: black;
}

.contacto button:hover i{
    color: black;
}

/* FOOTER */

.footer-icono {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 10px;
    
}

footer{
    min-height: 400px;
    bottom: 0;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
}

.iconos-redes a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;


}
.iconos-redes i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}
.iconos-redes a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253)
}
.iconos-redes a:hover i {
    color: black;

}

.derechos{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

#particles-js{
    background-color: rgb(4, 1, 73);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;

}

@media screen and (max-width: 975px) {
    
    
}

/* @media screen and (max-width: 850px){
    .nav-item a {
        font-size: 32px;
    }
    .hero-botones button{
        font-size: 32px;
    }
    .hero-texto{
        transform: scale(1.15);
    }
    .botones-contacto button{
        transform: scale(1.15);
        font-size: 20px;
    }
    .contacto .seccion-titulo{
        font-size: 52px;
    }
    .contacto .descripcion{
        font-size: 30px;
    }
    .iconos-redes a{
        width: 80px;
        height: 80px;
    }
} */
@media screen and (max-width: 860px){
    
    .navbar-brand{
        display: none !important;
    }
    h3 {
        text-align: center !important;
        margin-inline: auto !important;
        font-size: 300%;
    }
    .navbar-toggler{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        border: solid 2px;
    }
    .navbar-toggler-icon{
        height: 70px;
        width: 70px;  
    }
    .nav-item{
        font-weight: bolder !important;
        font-size: 20px !important;
    }
    .hero{
        margin-inline: 3rem;
    }
    body{
        min-width: 100vh;
    }
    .img-hero{
        max-width: 250px;
        max-width: 250px;
        text-align: center;
        margin-inline: auto;
    }
    
    .navbar ul{
        margin-inline: auto !important;
    }
    .iconos-redes a{
        width: 80px;
        height: 80px;
    }
    .hero-botones button{
        transform: scale(1.15);
    }
}    

@media screen and (max-width: 980px){
    body{
        min-width: 100vh !important;
    }
    .container {
        max-width: 720px !important;
    }
    .botones-contacto{
        display: flex;
        flex-direction: column !important;
    }
    .hero-imagen h3{
        text-align: center !important;
        margin-inline: auto !important;
    }
    .contacto{
        min-width: 100vh;
    }
    footer{
        min-width: 100vh;
    }
}

@media screen and (max-width: 1400px){
    .hero{
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
    }
    .hero-principal{
        right: 0;
        left: 0;
        display: flex !important;
        flex-direction: column !important;
        min-width: 100vh !important;
        align-items: center !important;
    }
    .hero-imagen{
        justify-content: center !important;
        margin-bottom: 5rem !important;
    }
}
@media screen and (max-width: 1440px){
    .about{
        margin-inline: 5rem !important;
    }
}