{% extends 'base.html' %}

{% block content %}

<section class="about">
    <div class="container-fluid">
        <div class="row justify-content-start">
            <h1>Quienes somos</h1>
            <span>En SupReg Solutions, entendemos que cada cliente es único. 
                Nos comprometemos a ofrecer soluciones personalizadas que se ajusten 
                a tus necesidades específicas.  Desde la creación de sitios web hasta 
                la optimización de hardware, cada proyecto es una oportunidad 
                para impulsar la excelencia tecnológica. </span>
        </div>
        <div class="row">
            <div class="card col-12 col-md-4">
                <h3>¿Que hacemos?</h3>
                <p> Nos especializamos en atender cualquier requerimiento tecnológico que nuestros clientes necesiten. Nuestro enfoque se centra en escuchar atentamente a nuestros clientes, comprender sus necesidades y brindar soluciones personalizadas. 
                    <br>
                    Nos enorgullece ofrecer un servicio integral, desde el inicio hasta la implementación y el soporte continuo. Nuestro objetivo es proporcionar a nuestros clientes la tranquilidad de saber que sus requerimientos tecnológicos están en buenas manos.
                </p>
            </div>
            <div class="card col-12 col-md-4">
                <h3>Como lo hacemos</h3>
                <p>Contamos con un equipo de desarrolladores y técnicos altamente capacitados que se encargan de realizar nuestros trabajos de manera eficiente y profesional. Sin embargo, también valoramos la colaboración y trabajamos en conjunto con una amplia red de desarrolladores externos para poder ofrecerte soluciones que se adapten a cualquier tipo de requerimiento.

                    Nuestra asociación con otros desarrolladores nos permite ampliar nuestro alcance y conocimientos, brindándote acceso a una amplia gama de habilidades y experiencia en diversas áreas tecnológicas. Esto nos permite ofrecerte soluciones más completas y personalizadas, asegurando que tus necesidades sean atendidas de la mejor manera posible.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}