{% extends 'base.html' %}

{% block content %}

<section class="servicios experiencia d-flex flex-column">
    <div id="software" class="container software text-center">
        <h1>Software</h1>
        <div class="row ">
          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Desarrollo Web</p>
            <p>En la era digital, tu presencia en línea es la clave para destacar en un mercado cada vez más competitivo. En SupReg Solutions, entendemos la importancia de una presencia web sólida y efectiva. Es por eso que ofrecemos servicios de creación de páginas web a medida, diseñadas para impulsar tu negocio y aumentar tu visibilidad en los motores de búsqueda.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Empresas</span>
              <span class="badge text-bg-primary">Menus</span>
              <span class="badge text-bg-primary">Web Personales</span>
              <span class="badge text-bg-primary">Tiendas</span>
              <span class="badge text-bg-primary">Landing Page</span>
            </div>
          </div>

          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Automatizaciones</p>
            <p>El tiempo es un recurso valioso, la automatización se ha convertido en la clave para aumentar la eficiencia y la productividad. En SupReg Solutions, ofrecemos una variedad de servicios de automatización diseñados para simplificar tus procesos y liberarte para que puedas centrarte en lo que realmente importa: hacer crecer tu negocio.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Emails</span>
              <span class="badge text-bg-primary">Whatsapp</span>
              <span class="badge text-bg-primary">Publicaciones</span>
              <span class="badge text-bg-primary">Conversores de archivos</span>
              
            </div>
          </div>

          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Integraciones</p>
            <p>En el mundo empresarial actual, la capacidad de conectar sistemas y aprovechar al máximo los datos es fundamental para el éxito. En SupReg Solutions, ofrecemos servicios especializados en integraciones y desarrollo de API, diseñados para ayudarte a optimizar tus operaciones y llevar tu negocio al siguiente nivel.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">AWS</span>
              <span class="badge text-bg-primary">Pasarelas de pago</span>
              <span class="badge text-bg-primary">Redes sociales</span>

            </div>
          </div>

          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Big Data</p>
            <p>Potencie su negocio con nuestros servicios de Big Data. Contamos con un experto certificado en AWS para ofrecerle soluciones avanzadas en almacenamiento, análisis y gestión de datos. Transforme grandes volúmenes de información en insights accionables y tome decisiones más informadas.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Migraciones</span>
              <span class="badge text-bg-primary">Arquitectura de datos</span>
              <span class="badge text-bg-primary">Databricks</span>
              <span class="badge text-bg-primary">Airflow</span>
            </div>
          </div>

          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Desarrollo de Software a medida</p>
            <p>Nuestro equipo de expertos en ingeniería de software está capacitado para diseñar, desarrollar e implementar soluciones informáticas que mejoren la eficiencia y productividad de su empresa. Trabajaremos en estrecha colaboración con usted para comprender su negocio y entregar aplicaciones a la medida que impulsen el crecimiento y la eficiencia de su empresa.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Facturació</span>
              <span class="badge text-bg-primary">Sistemas de CRM</span>
              <span class="badge text-bg-primary">Sistemas de gestión empresarial (ERP)</span>
              <span class="badge text-bg-primary">Soporte Técnico</span>
            </div>
          </div>
          
          

        </div>

      </div>
      <!-- <div class="d-flex flex-row justify-content-evenly align-items-center">
        <h1>SOFTWARE</h1>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, beatae!</span>
    </div> -->


    <div class="container hardware text-center">
        <h1>Hardware</h1>
        <div class="row">
          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Mantenimiento de PC</p>
            <p>En nuestra empresa de consultoría tecnológica, ofrecemos servicios integrales de mantenimiento de PC para mantener el rendimiento óptimo de sus dispositivos. Nuestro equipo de expertos realiza un diagnóstico exhaustivo y personalizado para identificar y resolver cualquier problema que pueda estar afectando el funcionamiento de su computadora.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Limpieza</span>
              <span class="badge text-bg-primary">Cambio de pasta termica</span>
              <span class="badge text-bg-primary">Actualizacion de software</span>
              <span class="badge text-bg-primary">Diagnóstico y resolución de fallas</span>
            </div>
          </div>

          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Instalación y configuración de Software</p>
            <p>En nuestra empresa, ofrecemos servicios completos de instalación y configuración de software para satisfacer las necesidades de su negocio. Nuestro equipo de expertos se encargará de la instalación, configuración y puesta en marcha de las principales aplicaciones y herramientas que el cliente requiera.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Licencia Windows</span>
              <span class="badge text-bg-primary">Paquete Office</span>
              <span class="badge text-bg-primary">Adobe PRO</span>
              <span class="badge text-bg-primary">Backup de informacion</span>
              
            </div>
          </div>

          <div id="hardware"  class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Actualizacion de componentes</p>
            <p>Mantener la tecnología de su negocio actualizada es fundamental para garantizar un alto rendimiento y eficiencia. Es por eso que ofrecemos servicios especializados de actualización de componentes de hardware, con el objetivo de prolongar la vida útil de sus equipos y mejorar su productividad.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Almacenamiento SSD</span>
              <span class="badge text-bg-primary">Memoria RAM</span>
              <span class="badge text-bg-primary">Graficas</span>

            </div>
          </div>

        </div>

      </div>
    <!-- <div class="d-flex flex-row justify-content-evenly align-items-center">
        <h1>HARDWARE</h1>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, alias.</span>
    </div>  -->
</section>

{% endblock %}