{% extends 'base.html' %}

{% block content %}

<section class="servicios experiencia d-flex flex-column">
    <div id="software" class="container software text-center">
        <h1>Software</h1>
        <div class="row ">
          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Desarrollo Web</p>
            <p>En la era digital, tu presencia en línea es la clave para destacar en un mercado cada vez más competitivo. En SupReg Solutions, entendemos la importancia de una presencia web sólida y efectiva. Es por eso que ofrecemos servicios de creación de páginas web a medida, diseñadas para impulsar tu negocio y aumentar tu visibilidad en los motores de búsqueda.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Empresas</span>
              <span class="badge text-bg-primary">Menus</span>
              <span class="badge text-bg-primary">Web Personales</span>
              <span class="badge text-bg-primary">Tiendas</span>
            </div>
          </div>

          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Automatizaciones</p>
            <p>En un mundo donde el tiempo es un recurso valioso, la automatización se ha convertido en la clave para aumentar la eficiencia y la productividad. En SupReg Solutions, ofrecemos una variedad de servicios de automatización diseñados para simplificar tus procesos y liberarte para que puedas centrarte en lo que realmente importa: hacer crecer tu negocio.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Emails</span>
              <span class="badge text-bg-primary">Whatsapp</span>
              <span class="badge text-bg-primary">Publicaciones</span>
              <span class="badge text-bg-primary">Conversores de archivos</span>
              
            </div>
          </div>

          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Integraciones</p>
            <p>En el mundo empresarial actual, la capacidad de conectar sistemas y aprovechar al máximo los datos es fundamental para el éxito. En SupReg Solutions, ofrecemos servicios especializados en integraciones y desarrollo de API, diseñados para ayudarte a optimizar tus operaciones y llevar tu negocio al siguiente nivel.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">AWS</span>
              <span class="badge text-bg-primary">Microsoft Server</span>
              

            </div>
          </div>

          <!-- <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Migraciones a Cloud</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem fugiat saepe magnam odit tempora cumque deleniti earum natus temporibus mollitia ex excepturi error soluta, nam quam dolore, obcaecati iure doloribus.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">AWS</span>
              <span class="badge text-bg-primary">Microsoft Server</span>
              

            </div>
          </div>

          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Migraciones a Cloud</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem fugiat saepe magnam odit tempora cumque deleniti earum natus temporibus mollitia ex excepturi error soluta, nam quam dolore, obcaecati iure doloribus.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">AWS</span>
              <span class="badge text-bg-primary">Microsoft Server</span>
              

            </div>
          </div> -->

          

        </div>

      </div>
      <!-- <div class="d-flex flex-row justify-content-evenly align-items-center">
        <h1>SOFTWARE</h1>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, beatae!</span>
    </div> -->


    <div class="container hardware text-center">
        <h1>Hardware</h1>
        <div class="row">
          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Mantenimiento de PC</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem fugiat saepe magnam odit tempora cumque deleniti earum natus temporibus mollitia ex excepturi error soluta, nam quam dolore, obcaecati iure doloribus.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Limpieza</span>
              <span class="badge text-bg-primary">Cambio de pasta termica</span>
              <span class="badge text-bg-primary">Actualizacion de software</span>
            </div>
          </div>

          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Formateo de disco</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem fugiat saepe magnam odit tempora cumque deleniti earum natus temporibus mollitia ex excepturi error soluta, nam quam dolore, obcaecati iure doloribus.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Backup</span>
              <span class="badge text-bg-primary">Licencia Windows</span>
              <span class="badge text-bg-primary">Paquete Office</span>
              <span class="badge text-bg-primary">Adobe PRO</span>
              
            </div>
          </div>

          <div id="hardware"  class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Actualizacion de componentes</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem fugiat saepe magnam odit tempora cumque deleniti earum natus temporibus mollitia ex excepturi error soluta, nam quam dolore, obcaecati iure doloribus.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">SSD</span>
              <span class="badge text-bg-primary">RAM</span>
              <span class="badge text-bg-primary">Graficas</span>

            </div>
          </div>

        </div>

      </div>
    <!-- <div class="d-flex flex-row justify-content-evenly align-items-center">
        <h1>HARDWARE</h1>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, alias.</span>
    </div>  -->
</section>

{% endblock %}